{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {{ title }}
{% endblock%}

{% block content %}

    <form method="post">
        {% csrf_token %}
        <div class="container">
            <h1>Изменение пароля</h1>
            {{ form|crispy }}
            <a href="{% url 'profile_edit' %}" class="btn btn-primary" role="button" aria-pressed="true">Назад</a>
            <button type="submit" class="btn btn-danger">Подтвердить изменение</button>
        </div>
    </form>

{% endblock %}